
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Yönetim Paneli</h1>

    <a href="~/Yonetim/Kullanicis" class="btn btn-primary"><p>Kullanıcılar</p></a>
    <a href="~/Yonetim/ILCES" class="btn btn-primary"><p>İlçeler</p></a>
    <a href="~/Yonetim/ILETISIMS" class="btn btn-primary"><p>İletişim Bilgileri</p></a>
    <a href="~/Yonetim/ILS" class="btn btn-primary"><p>İller</p></a>
    <a href="~/Yonetim/KULLANICI_TURU" class="btn btn-primary"><p>Kullanıcı Türü</p></a>
    <a href="~/Yonetim/MESLEKS" class="btn btn-primary"><p>Meslekler</p></a>
    <a href="~/Yonetim/OGRENCIS" class="btn btn-primary"><p>Öğrenciler</p></a>
    <a href="~/Yonetim/OGRETMEN" class="btn btn-primary"><p>Öğretmenler</p></a>
</body>
</html>
